body {
    background-color: var(--background-4);
    height: 95vh;
    font-family: var(--main-font-family);
    position: relative;
    z-index: 1;
    font-size: var(--main-font-size);
}

body h1 {
    text-align: center;
    height: 3vh;
}

main {
    scroll-snap-type: y mandatory;
    height: 90vh;
    overflow-y: scroll;
}

section::-webkit-scrollbar {
    display: none;
}

section {
    height: 87vh;
    padding: 1vh;
    margin-bottom: 2vh;
    scroll-snap-align: start;
    overflow-y: auto;
}

section h2 {
    z-index: 5;
    border-radius: 20px;
    margin: 20px;
    padding-left: 50px;
    position: sticky;
    background-color: var(--section-header-background-color);
    color: var(--header-footer-text-color);
    top: 0;
    opacity: 0;
    transform: translateX(+200px);
    transition: all 0.7s ease-out;
}

section h2.slider {
    opacity: 1;
    transform: translateX(0);
}

section > div {
    padding: 20px;
    margin-bottom: 20px;
    color: var(--section-text-color);
}

section > div:nth-child(even) {
    margin-right: 20%;
    margin-left: 5%;
    background-color: var(--content-light-color);
    opacity: 0;
    transform: translateX(+100px);
    transition: all 0.66s ease-out;
    border-radius: 30px;
}

section > div:nth-child(odd) {
    margin-right: 5%;
    margin-left: 20%;
    background-color: var(--content-dark-color);
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.66s ease-out;
    border-radius: 20px;
}

section > div.slider {
    opacity: 1;
    transform: translateX(0);
}

section > div a {
    color: var(--section-link-color);
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    transition: color 0.3s ease;
}

section > div a:hover {
    color: var(--section-link-hover-color);
}