@media (max-width: 800px) {
    nav button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--nav-button-background-color);
        position: absolute;
        top: 0;
        right: 20px;
        height: 100%;
        margin-right: 3vw;
        border: none;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        display: none;
    }

    nav ul.hidden {
        display: none;
    }

    nav ul.hidden li {
        display: none;
    }

    nav ul.visible {
        position: absolute;
        top: 100%;
        right: 27px;
        width: 200px;
        display: flex;
        flex-direction: column;
        background: var(--nav-ul-background-color);
        margin-top: .5vh;
        padding: 10px;
        box-sizing: border-box;
        z-index: 100;
    }

    nav ul.visible li {
        margin: 10px;
        background: var(--nav-li-background-color);
        border-radius: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    section > div:nth-child(even) {
        margin-right: 7%;
        margin-left: 2%;
    }

    section > div:nth-child(odd) {
        margin-right: 2%;
        margin-left: 7%;
    }
}