<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Litvak</title>
    <link rel="icon" type="image/svg+xml" href="img/scarab-bnw.svg">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/mobile-adjustments.css">
</head>
<body>
    <div id="waves" class="background"
         hx-get="/html/background.html"
         hx-trigger="load">
    </div>
    <header>
        <div class="logo">
            <a href=""><img src="img/scarab-bnw.svg" alt="logo,bug"/></a>
        </div>
        <nav>
            <button aria-label="menu-button">☰</button>
            <ul>
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home"
                 hx-get="/html/home.html"
                 hx-trigger="intersect once">
            <div>Loading home section...</div>
        </section>

        <section id="about"
                 hx-get="/html/about.html"
                 hx-trigger="intersect once">
            <div>Loading about section...</div>
        </section>

        <section id="contact"
                 hx-get="/html/contact.html"
                 hx-trigger="intersect once">
            <div>Loading contact section...</div>
        </section>
    </main>
    <footer>
        <p>&copy;<span class="current-year"></span> Alexander Litvak</p>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="js/nav.js"></script>
    <script src="js/slider.js"></script>
    <script src="main.js"></script>
</body>
</html>