:root {
    --body-background-color: rgba(15, 17, 23, 1);
    --header-footer-background-color: rgba(25, 27, 33, 0.8);
    --header-footer-text-color: rgba(197, 202, 209, 1);
    --header-font-family: JetBrains MonoThick, monospace;

    --nav-button-background-color: var(--content-dark-color);
    --nav-ul-background-color: var(--content-dark-color);
    --nav-li-background-color: var(--content-light-color);
    --nav-link-color: rgba(144, 147, 152, 1);
    --nav-link-hover-color: rgba(218, 165, 32, 1);
    --nav-link-active-color: rgba(245, 245, 220, 1);

    --main-font-family: JetBrains Mono, monospace;
    --main-font-size: clamp(.9rem, 1.2vw, 1.5rem);
    --section-header-background-color: rgba(35, 37, 43, 0.8);
    --section-background-color: rgba(255, 255, 255, 0.02);
    --content-light-color: rgba(31, 33, 39, 0.8);
    --content-dark-color: rgba(21, 23, 29, 0.8);
    --section-text-color: rgba(255, 255, 255, 1);
    --section-link-color: rgba(144, 147, 152, 1);
    --section-link-hover-color: rgba(197, 202, 209, 1);

    --success-color: var(--nav-link-hover-color);
    --error-color: orangered;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains MonoThick';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.glass {
    background: linear-gradient(to right, rgba(150, 150, 150, 0.1), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(4px);
}